/**
 * アニメーションのためのスタイル
 */

// フェードイン
[data-anime="fadeIn"] {
	opacity: 0;
	&.is-found {
		opacity: 1;
	}
}

// 下から
[data-anime="fadeInUp"] {
	opacity: 0;
	translate: 0 30px;
	&.is-found {
		opacity: 1;
		translate: 0;
	}
}

// 上から
[data-anime="fadeInDown"] {
	opacity: 0;
	translate: 0 -30px;
	&.is-found {
		opacity: 1;
		translate: 0;
	}
}

// 左から
[data-anime="fadeInLeft"] {
	opacity: 0;
	translate: -30px 0;
	&.is-found {
		opacity: 1;
		translate: 0;
	}
}

// 右から
[data-anime="fadeInRight"] {
	opacity: 0;
	translate: 30px 0;
	&.is-found {
		opacity: 1;
		translate: 0;
	}
}

// ズームイン
[data-anime="zoomIn"] {
	opacity: 0;
	scale: 0.5;
	&.is-found {
		opacity: 1;
		scale: 1;
	}
}

// ぼかしから
[data-anime="blurIn"] {
	opacity: 0;
	filter: blur(10px);
	&.is-found {
		opacity: 1;
		filter: blur(0);
	}
}

// 背景をスライド
[data-anime="bgSlide"] {
	position: relative;
	width: max-content;
	> span {
		opacity: 0;
		transition-delay: 0.5s; // 背景のアニメーションの半分の時間にする
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		height: 100%;
		background-color: currentColor;
	}
	&.is-found {
		> span {
			opacity: 1;
		}
		&::before {
			animation: bgSlide 1s ease 0s 1 normal forwards;
		}
	}
}

@keyframes bgSlide {
	0% {
		left: 0;
		width: 0;
	}
	49.99% {
		left: 0;
		width: 100%;
	}
	50% {
		right: 0;
		left: auto;
		width: 100%;
	}
	100% {
		right: 0;
		left: auto;
		width: 0;
	}
}

// 1文字ずつフェードイン
[data-anime="fadeInText"] {
	> span {
		opacity: 0;
		transition: opacity 0.6s;
	}
	&.is-found {
		> span {
			opacity: 1;
		}
		@for $i from 1 through 30 {
			$j: $i * 0.07 - 0.07;
			> span:nth-of-type(#{$i}) {
				transition-delay: $j + s;
			}
		}
	}
}

// 表示して消える
[data-anime="fadeInOut"] {
	opacity: 0;
	&.is-found {
		opacity: 1;
		animation: fadeOut 0.6s ease 2s forwards;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

// 時間、ディレイ
[data-anime] {
	transition-property: opacity, translate, filter, scale;
	transition-duration: 0.6s; // 初期値
	@for $i from 1 through 30 {
		$j: $i * 0.1;
		&[data-anime-duration="#{$j}"] {
			transition-duration: $j + s;
		}
		&[data-anime-delay="#{$j}"] {
			transition-delay: $j + s;
		}
	}
}

@media (max-width: 767px) {
	[data-anime] {
		transition-delay: 0s;
	}
}






// レイアウトのためのスタイル
.scroll {
	margin: 500px 0;
}

.blank {
	height: 500px;
}

.item {
	display: grid;
	place-items: center;
	width: 200px;
	height: 200px;
	background: #ccc;
}

.text {
	font-weight: 700;
	font-size: 24px;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

@media (max-width: 767px) {
	.container {
		display: block;
	}
}

.box {
	position: relative;
	height: 500px;
	border: 1px solid #ccc;
}

.box .item {
	position: absolute;
	margin: auto;
}

.box .item.top {
	top: 0;
	right: 0;
	left: 0;
}

.box .item.right {
	top: 0;
	right: 0;
	bottom: 0;
}

.box .item.bottom {
	right: 0;
	bottom: 0;
	left: 0;
}

.box .item.left {
	top: 0;
	bottom: 0;
	left: 0;
}

@media (max-width: 767px) {
	.box {
		height: auto;
	}

	.box .item {
		position: static;
		margin: 0;
	}

	.box .item + .item {
		margin-top: 10px;
	}
}
